<h1 id="tableLabel">Chess Game</h1>

<div class="container">

  <div class="board">
    <div class="board-row" *ngIf="tiles">

      <div class="board-column" *ngFor="let column of tiles">
        <div class="tile" *ngFor="let tile of column" [ngClass]="tile.class" (click)="onTileClicked(tile)">
          <div class="tile-position">
            {{tile.x}}, {{tile.y}}
          </div>
          <div class="tile-figure">
            <img [src]="tile.occupiedBy?.imagePath" />
          </div>
          <div class="overlay" *ngIf="tile.markedToMove">

          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="right-pane">
    <div class="right-pane-section cancel-area" (click)="cancelSelection()">
      click to cancel selection
    </div>
    <div class="right-pane-section">
      active:
    </div>
    <div class="right-pane-section">
      <!--<div class="section-figures" *ngFor="let figure of figuresOffBoard">
      </div>-->
        <img class="figures-icons" *ngFor="let figure of figuresOffBoard" src="{{figure?.imagePath}}" (click)="onNewFigureClicked(figure)"/>
    </div>
  </div>

</div>
