<h1 id="tableLabel">Chess Game</h1>

<div class="container">

  <div class="board">
    <div class="board-row" *ngIf="tiles">
      <div class="board-row-number">
        <div class="row-number-tile">8</div>
        <div class="row-number-tile">7</div>
        <div class="row-number-tile">6</div>
        <div class="row-number-tile">5</div>
        <div class="row-number-tile">4</div>
        <div class="row-number-tile">3</div>
        <div class="row-number-tile">2</div>
        <div class="row-number-tile">1</div>
      </div>
      <div class="board-column" *ngFor="let column of tiles">
        <div class="tile" *ngFor="let tile of column" [ngClass]="tile.class" (click)="onTileClicked(tile)">
          <div class="tile-figure">
            <img *ngIf="tile.occupiedBy" [src]="tile.occupiedBy?.imagePath" />
          </div>
          <div class="overlay" *ngIf="tile.markedToMove"></div>
        </div>
      </div>
    </div>
    <div class="board-column-name">
      <div class="column-name-tile">A</div>
      <div class="column-name-tile">B</div>
      <div class="column-name-tile">C</div>
      <div class="column-name-tile">D</div>
      <div class="column-name-tile">E</div>
      <div class="column-name-tile">F</div>
      <div class="column-name-tile">G</div>
      <div class="column-name-tile">H</div>
    </div>
  </div>
  <div class="right-pane">
    <div class="right-pane-section cancel-area" (click)="cancelSelection()">
      click to cancel selection
    </div>
    <div class="right-pane-section">
      <div>{{message}}</div>
    </div>
    <div class="right-pane-section">
      <div class="figures">
        <img class="figures-icons" *ngFor="let figure of figuresOffBoard" src="{{figure?.imagePath}}" (click)="onNewFigureClicked(figure)" />
      </div>
    </div>
  </div>

</div>
<hr />
<h3>Do poprawnego działania rozwiązania należy jednocześnie uruchomić projekty ChessGameSketchApi oraz ChessGameSketchFront.</h3>
<hr />
<h1>Opis rozwiązania</h1>
<p>Rozwiązanie składa się z następujących projektów:  </p>
<ol>
  <li><b>ChessGameSketch</b> - zawiera logikę związaną z obliczaniem możliwych ruchów i walidacją podejmowanych akcji.</li>
  <li><b>ChessGameSketchTest</b> - zawiera testy walidatora.</li>
  <li><b>ChessGameSketchApi</b> - odpowiada za udostępnenie endpointów, przyjmowanie zapytań dot. ruchów i możliwych ruchów, zapisywanie pozycji figur i ew. pola en passant (bicie w przelocie).</li>
  <li><b>ChessGameSketchFront</b> - odpowiada interfejs graficzny (wykonane w Angular).</li>
</ol>
<p>Backend udostępnia figury możliwe do postawienia na planszy, dodawanie figur do planszy, wykonywanie ruchów, usuwanie figur i udostępnianie możliwych ruchów dla danej figury w kontekscie wszystkich figur na planszy.</p>
<p>Pionki, które dotrą na ostatnie pole, zostają automatycznie wypromowane na Hetmana.</p>
<h2>Algorytm walidacji:</h2>
<p>Nie zezwala na:</p>
<ol>
  <li>ruchy wykraczające poza pole gry,</li>
  <li>ruchy narażające króla na szacha,</li>
  <li>postawienie nowej figurki na innej figurze,</li>
</ol>
<p>Zezwala na:</p>
<ol>
  <li>bicie innych figur (także w przelocie),</li>
  <li>ruchy zgodne z zasadami</li>
</ol>

<h2>Front end:</h2>
<p>Komponent <b>app.component</b> odpowiada za wyświetlanie interfejsu użytkownika, wykrywanie akcji (click) i zarządzanie nowymi figurkami.</p>
<p>Podejmowanie akcji, generowanie widoku planszy z figurami oraz wyświetlanie wiadomości z backendu jest realizowane przez serwis <b>game.manager</b>.</p>
<p>Widok planszy (tablica pól - Tile[][]) oraz wiadomości dla użytkownika są przekazywane za pośrednictwem interfejsów Subject z <b>game.manager</b> do <b>app.component</b>.</p>

