/* You can add global styles to this file, and also import other style files */

.board-column {
  display: flex;
  flex-direction: column-reverse;
}
.board-row {
  display: flex;
  flex-direction: row;
}
.tile {
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
.tile-position {
}
.tile-figure {
    display: flex;
    justify-content: center;
}

.white-tile {
    background-color: #ffd87a;
}

.black-tile {
    background-color: #9c6a02;
}

.to-move-tile {
    z-index: 9;
    background-color: #1f3fff7a;
}
