/* You can add global styles to this file, and also import other style files */

.board {
    border: 2px solid blue;
}
.board-column {
  display: flex;
  flex-direction: column-reverse;
}
.board-row {
  display: flex;
  flex-direction: row;
}

.cancel-area {
  background: repeating-linear-gradient( 45deg, #d5d5d5, #d5d5d5 10px, #ffffff 10px, #ffffff 20px );
}

.container {
  display: flex;
  flex-direction: row;

  border: 3px solid green;
}

.right-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  font-size: x-large;
  font-weight: 600;
  border: 2px solid blue;
}

.right-pane-section {
    display: flex;
  flex-grow: 1;
  border: 1px solid black;

  align-items: center;
  justify-content: center;
}

.tile {
  width: 80px;
  height: 80px;
  border: 1px solid black;
}
.tile-black {
    background-color: #9c6a02;
}

.tile-figure {
    display: flex;
    justify-content: center;
}

.tile-position {
}

.tile-to-move {
  z-index: 9;
  background-color: #1f3fff7a !important;
}

.tile-white {
    background-color: #ffd87a;
}


