/* You can add global styles to this file, and also import other style files */

.board {
  border: 2px solid blue;
}

.board-column {
  display: flex;
  flex-direction: column-reverse;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.cancel-area {
  background: repeating-linear-gradient( 45deg, #d5d5d5, #d5d5d5 10px, #ffffff 10px, #ffffff 20px );
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  border: 3px solid green;
}

.right-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  font-size: x-large;
  font-weight: 600;

  border: 2px solid cyan;
}

.right-pane-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  border: 1px solid black;
}

.figures {
    display: flex;
    flex-wrap: wrap;
}

.tile {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.tile-black {
  background-color: #9c6a02;
}

.tile-figure {
  display: flex;
  justify-content: center;
}

.tile-position {
    z-index: 1;
    position: absolute;
}

.tile-white {
  background-color: #ffd87a;
}

.overlay {
  display: flex;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #1f3fff7a !important;
}

img {
    max-width: 52px;
    max-height: 52px;
}

.board-column-name {
    display: flex;
    justify-content: flex-end;
}

.column-name-tile {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 60px;

    background: #4eb756;

    border: 1px solid black;
}
.row-number-tile {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 20px;

  background: #4eb756;

  border: 1px solid black;
}
